html,
body {
  margin: 0px;
  height: 100%;
  font: 400 14px Roboto, sans-serif;
  background: #f0f0f5;
  -webkit-font-smoothing: antialiased;
}

.title-span {
  color: #111;
  font-family: "Open Sans", sans-serif;
  font-size: 30px;
  font-weight: 300;
  line-height: 32px;
  text-align: center;
  color: #383838;
  text-shadow: 0.2vh 0.2vh #f0f0f5;
}

.text_span {
  color: #111;
  font-family: "Open Sans", sans-serif;
  font-size: 15px;
  font-weight: 300;
  line-height: 32px;
  text-align: center;
}

.text_span_number {
  color: #111;
  font-family: "Open Sans", sans-serif;
  font-size: 8em;
  font-weight: 300;
  line-height: 32px;
  text-align: center;
  color: #1fb8ab;
  font-weight: 500;
}

.btn-primary {
  color: #111;
  font-family: "Open Sans", sans-serif;
  font-size: 15px;
  font-weight: 300;
  line-height: 32px;
  text-align: center;
  color: #f0f0f5;
  font-weight: bold;
}

.contact_me {
  display: flex;
  flex-direction: row;
  position: absolute;
  // margem da barra do topo
  margin-top: 6vh;
  top: 0px;
  right: 0px;
  bottom: 0px;
  left: 0px;
}

.container-space {
  flex: 0.8 !important;
  color: black;
  margin: 4vh 4vh 0 4vh;
  background-color: #fff;
  width: 100vh;
  height: 70vh;
  box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
  -webkit-transform: translateY(9%);
  -ms-transform: translateY(9%);
  transform: translateY(9%);
}

.container-space2 {
  flex: 1 !important;
  color: black;
  margin-top: 4vh;
  margin-right: 4vh;
}

button {
  width: 90%;
}

.fixed-bottom {
  margin: 1vh 1vh 12vh 4vh;
  font-weight: bold;
}

.info-contact {
  margin-top: 2vh;
  height: 25vh;
  box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
}

.card-body {
  display: flex;
  flex-direction: row;
  text-align: center;
  align-items: center;
  justify-content: center;
}

.image {
  height: 10vh;
  width: 10vh;
}

.divider {
  border-left: 0.6vh solid #4db6ac;
  top: 0;
  height: 10vh;
}

.form-row {
  margin-top: 1vh;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

.single_text_form {
  align-items: right;
  justify-content: right;
  width: 93%;
}

// pegar o segundo item (apenas)
.form-group:nth-child(2) {
  margin-left: 1vh;
}
