<div>
  <div class="contact_me">
    <div class="container-space">
      <div class="container">
        <form>
          <div class="form-row">
            <span class="title-span" style="margin: 8vh 0 2vh 0">{{
              contactMe
            }}</span>
          </div>

          <div class="form-row">
            <div class="form-group col col-md-5">
              <label for="nameContact">{{ name }}</label>
              <input
                type="text"
                class="form-control"
                id="name"
                aria-describedby="nameContact"
              />
            </div>
            <div class="form-group col col-md-6">
              <label for="emailContact">{{ emailAddress }}</label>
              <input
                type="email"
                class="form-control"
                id="email"
                aria-describedby="emailContact"
                placeholder="empresa@gmail.com"
              />
            </div>
          </div>

          <div class="form-row">
            <div class="form-group single_text_form col col-md-11">
              <label for="subjectContact">{{ subjectContact }}</label>
              <input
                type="text"
                class="form-control"
                id="subjectContact"
                placeholder=""
              />
            </div>
          </div>

          <div class="form-row">
            <div class="form-group single_text_form col col-md-11">
              <label for="exampleFormControlTextarea1">{{
                messageContact
              }}</label>
              <textarea
                class="form-control"
                id="exampleFormControlTextarea1"
                rows="6"
                style="resize: none"
              ></textarea>
            </div>
          </div>
          <button type="button" class="btn btn-outline-success fixed-bottom">
            {{ btnSendMessage }}
          </button>
        </form>
      </div>
    </div>
    <div class="container-space2" style="padding-top: 3vh">
      <span class="title-span">{{ labelMap }}</span>
      <div>
        <app-map></app-map>
        <div class="info-contact card border-light mb-3">
          <div class="card-header title-span">{{ headerContact }}</div>
          <div class="card-body text-dark">
            <div style="margin-right: 3vh">
              <h5 class="card-title text_span_number">
                {{ numberConnection }}
              </h5>
            </div>
            <div class="divider">
              <hr class="divider" />
            </div>
            <div style="margin-left: 3vh">
              <img
                src="../../../assets/connection.svg"
                class="rounded mx-auto d-block image"
                alt="connection_contact"
              />
              <span class="text-connection text_span">{{
                textConnection
              }}</span>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
