.spacer {
  flex: 0.3;
}

.toolbar {
  // position: fixed;
  top: 0;
  left: 0;
  right: 0;
  height: 60px;
  display: flex;
  align-items: center;
  background-color: #4db6ac;
  color: white;
  font-weight: 400;
  z-index: 999;
}

.item-menu {
  color: #3d3d3d !important;
  width: 100%;
  text-align: left;
}
// Small devices (landscape phones, 576px and up)
// @media (min-width: 576px) { ... }

// // Medium devices (tablets, 768px and up)
// @media (min-width: 768px) { ... }

// // Large devices (desktops, 992px and up)
// @media (min-width: 992px) { ... }

// // Extra large devices (large desktops, 1200px and up)
// @media (min-width: 1200px) { ... }

@media (max-width: 576px) {
  span {
    // padding: calc(1.325rem + 0.9vw);
    font-size: 0.4rem; /* 1.125rem is small enough, so RFS won't rescale this */
  }

  .spacer {
    flex: 1;
  }
}

@media only screen and (min-width: 576px) and (max-width: 768px) {
  span {
    // padding: calc(1.325rem + 0.9vw);
    font-size: 0.4rem; /* 1.125rem is small enough, so RFS won't rescale this */
  }

  .spacer {
    flex: 1;
  }
}

@media only screen and (min-width: 768px) and (max-width: 1200px) {
  span {
    // padding: calc(1.325rem + 0.9vw);
    font-size: 0.4rem; /* 1.125rem is small enough, so RFS won't rescale this */
  }

  .spacer {
    flex: 1;
  }
}

// menu de itens horizontal
li a {
  font-size: 0.8rem;
}

.toolbar img {
  margin: 0 16px;
}

a {
  text-decoration: none;
  color: white;
}

a:hover {
  text-decoration: underline;
}
