<div>
  <mat-toolbar class="toolbar">
    <img width="40" alt="Angular Logo" src="./assets/logo-transparent.png" />
    <span>Mateus Santos</span>
    <div class="spacer"></div>
    <div fxShow="true" fxHide.lt-md="true" class="toolbar">
      <!-- The following menu items will be hidden on both SM and XS screen sizes -->
       <!-- <a href="#" mat-button>Menu Item 1</a> -->
      <span *ngFor="let item of menu; let i = index" style="margin-right:0.5vh">
        <a href="{{ item.link }}" aria-disabled="true"
          >{{ item.title }} </a> <span *ngIf="i != 6">|</span>
        </span>
    </div>

    <div fxShow="true" fxHide.gt-sm="true">
      <!-- <a href="#" (click)="sidenav.toggle()">Show Side Menu</a> -->
    </div>
  </mat-toolbar>

  <mat-sidenav-container fxFlexFill class="example-container">
    <mat-sidenav #sidenav fxLayout="column">
      <div fxLayout="column">
        <!-- <a (click)="sidenav.toggle()" href="#" mat-button>Close</a> -->
        <div *ngFor="let item of menu; let i = index">
          <a href="{{ item.link }}" mat-button class="item-menu">{{
            item.title
          }}</a>
        </div>
      </div>
    </mat-sidenav>
  </mat-sidenav-container>
</div>
