.map-container {
    position: relative;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    margin-top: 3vh;
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
  }
  
  .map-frame {
    /* border: 1px solid; */
    height: 45%;
  }
  
  #map {
    height: 45vh;
  }