html,
body {
  margin: 0px;
  height: 100%;
  font: 400 14px Roboto, sans-serif;
  background: #f0f0f5;
  -webkit-font-smoothing: antialiased;
}

.main {
    position: absolute;
    top: 0px;
    right: 0px;
    bottom: 0px;
    left: 0px;
}

.box {
  height: 70vh;
  margin: 10vh;
  top: 0px;
  right: 0px;
  bottom: 0px;
  left: 0px;
}
