<div class="main">
  <div class="box">
    &lt;h1&gt; Olá 👋, meu nome é Mateus, sou programador a 2 anos e meio
    &lt;/h1&gt;

    <mat-card class="example-card">
      <mat-card-actions>
        <button mat-button>LIKE</button>
        <button mat-button>SHARE</button>
      </mat-card-actions>
    </mat-card>
  </div>
  <div class="box" name="professional-exp">
    <a name="professional-exp">Experiência Profissional</a>
    <!-- <horizontal-timeline
      [timelineElements]="timeline"
      [showContent]="true"
    ></horizontal-timeline> -->
  </div>
  <div class="box">
    Carreira
    <section class="timeline">
      <div class="timeline-line">
        <span class="timeline-innerline"></span>
      </div>

      <ul>
        <li>
          <span class="timeline-point"></span>
          <span class="date">2000</span>
          <p>Lorem, ipsum dolor sit amdsdsset</p>
        </li>
        <li>
          <span class="timeline-point"></span>
          <span class="date">2005</span>
          <p>Lorem, ipsum dolor sit amet</p>
        </li>
        <li>
          <span class="timeline-point"></span>
          <span class="date">2010</span>
          <p>Lorem, ipsum dolor sit amet</p>
        </li>
        <li>
          <span class="timeline-point"></span>
          <span class="date">2015</span>
          <p>Lorem, ipsum dolor sit amet</p>
        </li>
        <li>
          <span class="timeline-point"></span>
          <span class="date">2020</span>
          <p>Lorem, ipsum dolor sit amet</p>
        </li>
      </ul>
    </section>
  </div>
</div>
