/* You can add global styles to this file, and also import other style files */
/* @import "node_modules/bootstrap/scss/bootstrap"; */
@import "~bootstrap-icons/font/bootstrap-icons.css";
@import "~@angular/material/prebuilt-themes/indigo-pink.css";

html, body {
    min-height: 60vh;
    height: auto;
    margin: 0;
  }